/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}
Pane.pane{
    -fx-background-color:#009962;
}

ImageView.linije1{
    -fx-image: url("linije1.png");
}

ImageView.bus {
    -fx-image: url("bus.png");
}
