/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}
ImageView.background{
    -fx-image:url("background.png")
}
ImageView.profil{
    -fx-image: url("profil.png");
}
ImageView.zaposlenici{
    -fx-image: url("zaposlenici.png");
}
ImageView.karte{
    -fx-image: url("karte.png");
}
ImageView.linije{
    -fx-image: url("linije.png");
}

ImageView.voznja{
    -fx-image: url("voznje.png");
}

ImageView.logout{
    -fx-image: url("logout.png");
}
ImageView.bus {
    -fx-image: url("bus.png");
}
